#footer {
	padding: 0;
}
.footer {
	background: $grey;
	padding: 50px 0 10px;
	color: #fff;
	h3 {
		color: #fff;
		margin-bottom: 10px;
	}
	img {
		width: 100%;
		max-width: 100px;
		margin-bottom: 40px;
		
	}
}
@include media-breakpoint-up(md) {
	#footer {

	}
  .footer {
		padding: 60px 0 10px;
		.subfooter {
			margin-top: 60px;
		}
		img {
			max-width: 140px;
		}
  }
}
@include media-breakpoint-up(lg) {

}