<section id="footer">
	<div class="section footer">
		<div class="container">
			<div class="row">
				<div class="col-lg-4">
					{{ options.footer_tekst_1 }}
				</div>
				<div class="col-lg-4">
					{{ options.footer_tekst_2 }}
					{% include 'partials/socialmedia.twig' %}
				</div>
				<div class="col-lg-4 text-center">
					<img src="{{ options.footer_logo }}">
				</div>
			</div>
		</div>
	</div>
</section>